<h1>Sign in or Create an Account</h1>
<div class="login_box">
  <%= form_for(:user, :url => {:controller => 'index', :action => 'login'}) do |f| %>
    Username: <%= f.text_field :username %><br/>
    Password: <%= f.password_field :password %><br/>
    <%= f.submit "Log in"%>
  <% end %>
  <a href="users/new">Create a new account</a>
</div>