// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 800px;
  margin: auto;
}

.current_month {

}

.calendar {
  list-style: none;
}

.date {
  display: inline-block;
  border: 1px solid black;
}